
<div class="panel-body">
    <table class="table table-hover margin bottom">
        <thead>
            <tr>
                <th style="width: 1%" class="text-center">Active</th>
                <th>Name</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td><i class=" @(user.IsActive ? "fa fa-check" : "fa fa-times" ) " /> </td>
                    <td>@user.Name </td>
                    <td>
                        @if (user.Role == RoleType.DEV)
                        {
                            <span class="badge badge-warning">@user.Role.GetEnumDescription()</span>
                        }
                        else if (user.Role == RoleType.SM || user.Role == RoleType.SM)
                        {
                            <span class="badge badge-info">@user.Role.GetEnumDescription()</span>
                        }
                        else
                        {
                            <span class="badge badge-light">@user.Role.GetEnumDescription()</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter] public List<User> users { get; set; }
}
